:root {
    --cor-primaria: #8ac0ec;
    --cor-secundaria: #34506a;
    --cor-terceira: #658ab1;
    --cor-quarta: #002147;
    --cor-quinta: #efeae4;
    --cor-sexta: #25d366;
    --cor-sétima: #000000;

    --peso-fonte: 500;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-quinta);
    color: var(--cor-secundaria);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabeca {
    position: relative; 
    background-color: var(--cor-quarta); /* Azul escuro do logo */
    height: 40px; /* Ajuste a altura do seu header */
}

.cabeca__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
    height: 100%;
}

.cabeca__logo {
    position: absolute;
    top: 10px;           /* Distância do topo */
    left: 5%;            /* Alinhamento à esquerda */
    width: 150px;        /* Tamanho do logo (ajuste como preferir) */
    height: auto;
    z-index: 10;         /* Garante que fique na frente de outros elementos */
    
    /* Opcional: Adiciona uma borda ou sombra para destacar do fundo branco */
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.3));
}

.links {
    display: flex;
    gap: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 150px; 
    border-radius: 10px;
    border: 1px solid var(--cor-sétima);
    resize: none;
}

fieldset {
    border: 1px solid var(--cor-sétima);
    padding: 20px;
    border-radius: 20px;
}

.whatsapp {
    display: inline-flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
    background-color: #f6f6f6; /* Cor oficial do WhatsApp */
    color: var(--cor-sétima);
    padding: 5px 20px;
    border: 2px solid var(--cor-sétima);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.whatsapp:hover {   
    border: 2px solid var(--cor-sétima);
    background-color: var(--cor-sexta);
    padding: 1%;
}

.rodape {
    width: 100%;
    background-color: var(--cor-quarta); 
    padding: 20px 0;           
    margin-top: auto;          
}

@media (max-width: 1200px) {
    .cabeca {
        padding: 3%;
    }

    .cabeca__menu {
        justify-content: center;
        padding: 1% 20%;
    }

    .cabeca__logo {
        width: 100px;
    }

    .apresentacao__conteudo {
        margin: 8%;
    }

    .apresentacao__conteudo__titulo {
        padding: 0% 4% 0% 4%;
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__subtitulo {
        padding: 0% 4% 0% 4%;
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__service__container{
        flex-direction: column;
        padding: 5%;
    }

    .imagens_exemplos {
        width: 70%; 
        height: auto;
        border-style: groove;
        border-radius: 20px; 
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
}