@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #8ac0ec;
    --cor-secundaria: #34506a;
    --cor-terceira: #658ab1;
    --cor-quarta: #c5b8ee;
    --cor-quinta: #efeae4;

    --peso-fonte: 500;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-quinta);
    color: var(--cor-secundaria);
}

.cabeca {
    padding: 1% 0% 0% 10%;
    background-color: var(--cor-secundaria);
}

.cabeca__menu {
    display: flex;
    gap: 50px;
}

.cabeca__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.12rem;
    font-weight: 600;
    padding: 0% 0% 2% 0%;
    color:var(--cor-quinta);
    text-decoration: none;
}

.apresentacao {
    padding: 4% 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__subtitulo {
     font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.apresentacao__links__subtitulo {
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    font-weight: var(--peso-fonte);
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 5px 18px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.apresentacao__links__navegacao:hover {   
    border: 2px solid var(--cor-secundaria);
    background-color: var(--cor-quarta);
    padding: 1%; 
}

.rodape {
    color: var(--cor-quinta);
    background-color: var(--cor-secundaria);
    padding: 25px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}



@media (max-width: 1200px) {
    .cabeca {
        padding: 10%;
    }

    .cabeca__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
}